p {
  border:3px groove darkgreen;
  background: darkolivegreen;
  color: azure;
  text-align: center;
  width: 500px;
  margin: auto;
}

ul {
  border:3px solid darkgreen;
  text-align: center;
  width: 500px;
  margin: auto;
}

a {
  	background-color: darkgrey;
  	color: ghostwhite;
  	border: 2px solid dimgrey
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#button {
  
  background: grey;
  border: 10px dimgrey;
  width: 50px;
}