header {
	border:5px dotted aliceblue;
	text-align: center;
	width: 500px;
	margin: auto;
}
p {
	border:2px solid darkslategrey;
	background: dimgrey;
	color: ghostwhite;
	text-align: center;
	width: 500px;
	margin: auto;
}
a {
  	background-color: darkgrey;
  	color: ghostwhite;
  	border: 2px solid dimgrey
}
#lightgrey {
	color: lightgrey
}
#red {
	color: crimson;
}
#blue {
	color: deepskyblue;
}
#purple {
	color: darkorchid;
}
#button {
	
	background: grey;
	border: 10px dimgrey;
	width: 175px;
}
#question {
	text-align: left;
}

